<table class="table">
  <thead class=" text-primary">
  <th>
    BID
  </th>
  <th>
    HOTEL NAME
  </th>
  <th>
    SSN
  </th>
  <th>
    ROOM ID
  </th>
  <th>
    CAPACITY
  </th>
  <th>
    PRICE
  </th>
  <th>
    RENTAL
  </th>
  </thead>
  <tbody>
  <tr>
    <td>
      1
    </td>
    <td>
      Dakota Rice
    </td>
    <td>
      1
    </td>
    <td>
      Niger
    </td>
    <td>
      Oud-Turnhout
    </td>
    <td class="text-primary">
      $36,738
    </td>
    <td>
      <button type="button" class="btn btn-info">DELETE RENTAL</button>
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
      Minerva Hooper
    </td>
    <td>
      2
    </td>
    <td>
      Curaçao
    </td>
    <td>
      Sinaai-Waas
    </td>
    <td class="text-primary">
      $23,789
    </td>
    <td>
      <button type="button" class="btn btn-info">MAKE RENTAL</button>
    </td>
  </tr>
  </tbody>
</table>
