<div class="modal fade" id="signUpModalE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email" #email>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Name" #fullname>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="What is your position?" #positione>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-round btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-round btn-rose" (click)="signUp(email.value, password.value, fullname.value, positione.value)">Register</button>
      </div>
    </div>
  </div>
</div>
