.modal-header{
  border-bottom: 0px !important;
}

.modal-footer{
  border-top: 0px !important;
}

#allbook{
  display: none;
}

#allhotel{
  display: none;
}

#allroom{
  display: none;
}

#styleCard{
  background-size: 250px 350px;
  border-radius: 20px;
  position: relative;
}

#cardInfoStyle{
  bottom: 0;
  position: absolute;
  background: black;
  width: 100%;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  opacity: 0.8;
}
