<body style="background-color: white; height: 500px" class="bg-rose">
  <div id="welcome">
    <!--<p style="color: white; font-size: 70px; vertical-align: middle;">Welcome to ehotel</p>-->
    <h1 style="font-weight: bold">Welcome to ehotel</h1>
    <h2 style="font-size: 40px; color: lightcoral">Book rooms at the best hotels in your city</h2>
    <h2 style="font-size: 40px; color: lightcoral">We've got you covered!</h2>
    <h2>{{userMessage}}</h2>
    <div>
      <button type="button" class="btn btn-round btn-rose" (click)="bookroom()">Book a room</button>
    </div>
  </div>
</body>
<body style="background-color: white;">
  <div id="experience" fxLayoutAlign="center center" fxLayout="column">
    <!--<p style="color: white; font-size: 70px; vertical-align: middle;">Welcome to ehotel</p>-->
    <h2 style="font-weight: bold">We want you to have the best experience ever</h2>
    <h4>Never find it difficult to list or book an available room again.</h4>

    <a href="">Find out how easy it is</a>
  </div>
  <div style="text-align: center">
    <h3>Ehotel places to stay</h3>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 20px">
    <div>
      <div class="card" style="width: 250px; height: 350px; border-radius: 20px; margin-right: 20px">
        <div class="card-body" id="styleCard">
        </div>
      </div>
      <p>MEXICO</p>
      <p>Taste local wines and stargaze</p>
      <p>From $680</p>
    </div>
    <div>
      <div class="card" style="width: 250px; height: 350px; border-radius: 20px; margin-right: 20px">
        <div class="card-body" id="styleCard2">
        </div>
      </div>
      <p>CUBA</p>
      <p>Trinidad Salsa, Nature day</p>
      <p>From $880</p>
    </div>
    <div>
      <div class="card" style="width: 250px; height: 350px; border-radius: 20px; margin-right: 20px">
        <div class="card-body" id="styleCard3">
        </div>
      </div>
      <p>ITALY</p>
      <p>Hike above lake and village</p>
      <p>From $299/person</p>
    </div>
    <div>
      <div class="card" style="width: 250px; height: 350px; border-radius: 20px; margin-right: 20px">
        <div class="card-body" id="styleCard4">
        </div>
      </div>
      <p>ITALY</p>
      <p>Walking in Leonardo's Tuscanny</p>
      <p>From $413</p>
    </div>
    <div>
      <div class="card" style="width: 250px; height: 350px; border-radius: 20px; margin-right: 20px">
        <div class="card-body" id="styleCard5">
        </div>
      </div>
      <p>PUERTO RICO</p>
      <p>Tanama full day adventure</p>
      <p>From $75/person</p>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <a href="">Show all Adventures</a>
  </div>
  <div fxLayoutAlign="center center">
    <h3>Our hotels are state of the art. Built to look and feel like home.</h3>
  </div>

  <div id="forhotels">
    <!--<p style="color: white; font-size: 70px; vertical-align: middle;">Welcome to ehotel</p>-->
    <h2 style="font-weight: bold">Are you a hotel chain?</h2>
    <h4>Create a unique experience for your customers</h4>

    <div>
      <button type="button" class="btn btn-round btn-rose" data-toggle="modal" data-target="#signUpModalE">Get Started</button>
    </div>
  </div>
</body>
