<div id="image">
  <!--<p style="color: white; font-size: 70px; vertical-align: middle;">Welcome to ehotel</p>-->
  <span>Welcome to e-hotel.</span>
  <span style="font-size: 40px; color: lightcoral">The app that allows you book rooms at the best hotels in your city</span>
  <div>
    <button type="button" class="btn btn-info" routerLink="dashboard">Book a room</button>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Make a booking</h5>
    </div>
    <div class="modal-body">
      Select a hotel
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
