<div id="image">
  <!--<p style="color: white; font-size: 70px; vertical-align: middle;">Welcome to ehotel</p>-->
  <span>Welcome to e-hotel.</span>
  <span style="font-size: 40px; color: lightcoral">The app that allows you book rooms at the best hotels in your city</span>
  <div>
    <button type="button" class="btn btn-info" routerLink="dashboard">Book a room</button>
  </div>
</div>

<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputEmp" aria-describedby="emphelp" placeholder="Are you an employee?">
            <small id="emphelp" class="form-text text-muted">Type in y or n if you are or you are not an employee</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Signin</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signUpModalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email" [value]="emailsignupc"
                   (input) = "emailsignupc = $event.target.value">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [value]="passsupc"
                   (input) = "passsupc = $event.target.value">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="First Name" [value]="firstnamesupc"
                   (input) = "firstnamesupc = $event.target.value">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Last Name" [value]="lastnamesupc"
                   (input) = "lastnamesupc = $event.target.value">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Address" [value]="addresssupc"
                   (input) = "addresssupc = $event.target.value">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="signUpCustomer()">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signUpModalE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email" [value]="emailsignupe"
                   (input) = "emailsignupe = $event.target.value">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [value]="passsupe"
                   (input) = "passsupe = $event.target.value">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Name" [value]="employeename"
                   (input) = "employeename = $event.target.value">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter your hotel id" [value]="hotelide"
                   (input) = "hotelide = $event.target.value">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="What is your position?" [value]="positione"
                   (input) = "positione = $event.target.value">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="signUpEmployee()">Register</button>
      </div>
    </div>
  </div>
</div>
