#image{
  background-image: url("../../assets/city.jpg");
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 200px;

}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  font-size: 60px;
}

.modal-header{
  border-bottom: 0px !important;
}

.modal-footer{
  border-top: 0px !important;
}
